@font-face {
    font-family: 'Futura';
    src: url('../src/font/futura-condensed-extrabold.ttf');
}

@font-face {
    font-family: 'Georgia Italic';
    src: url('../src/font/Georgia-Italic.ttf');
}
