{% include '_header.twig' %}

<!-- Main Page Content -->
{% setcontent teams = 'teams' %}

{% for team in teams if team.is_active == 'active' %}

    {% include '_ideabox.twig' %}

    <section class="dashboard-section dashboard-section-personal js-items">
        <div class="logo col-md-2 col-md-offset-3">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="400px"
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="400px"
            height="137.7px" viewBox="0 0 400 137.7" enable-background="new 0 0 400 137.7" xml:space="preserve">
            <g id="Layer_1">
            </g>
            <g id="Layer_2">
            <circle fill="#37AC65" cx="68.8" cy="68.8" r="68.8"/>

               <text transform="matrix(1 0 0 1 164.7402 80.999)" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" font-family="'Futura-Medium'" font-size="57.7424">proeftuin</text>
            <text transform="matrix(1 0 0 1 37.373 80.3525)" fill="#FFFFFF" font-family="'TimesNewRomanPS-BoldMT'" font-size="57.7803">pt.</text>

               <text transform="matrix(1 0 0 1 278.833 118.6338)" fill="#37AC65" stroke="#37AC65" stroke-width="0.25" stroke-miterlimit="10" font-family="'Futura-Medium'" font-size="23.0451">{{ team.name }}</text>
            </g>
            </svg>
        </div>
    {% include '_team.twig' %}
    </section>

    {% include '_projects.twig' %}
{% endfor %}

<!-- End Main Content -->
{% include '_footer.twig' %}
