.pagetitle {
    font-size: 3.25em;
    margin: 0.5em 0;
    text-align: center;
    font-family: 'Futura';
    font-weight: bold;
    color: $text-color;
}

.title {
    font-family: 'Futura';
    margin:0;
    text-align: center;
    &-item {
        margin-top: 1em;
        cursor: pointer;
        .section-projects & {
            font-size: 1em;
        }
        .item-open & {
            margin-top: 0;
            font-size: 1.5em;
            // text-align: left;
        }
        .item-small & {
            font-size: 1em;
            text-align: center;
        }
    }
}

.subtitle {
    font-family: 'Georgia';
    font-style: italic;
    text-align: center;
    margin: 0;
        .item-small & {
            font-size: 1em;
            text-align: center;
        }
}
