.legenda {
    position: relative;

    span {
        margin-left: 1.5em;
        &:before {
            content: '';
            width: 1em;
            height: 1em;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &-project:before {
        background-color: rgba(0,0,0,0.2);
    }
    &-fase:before {
        background-color: $brand-primary;
    }


}

.timeline-view {
    margin-top: 3rem;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid rgba(0,0,0,0.05);

    // .icon {
    //     position:absolute;
    //     font-size: 1.3em;
    //     cursor: pointer;
    //
    //     span {
    //         font-size: 0.8em !important;
    //         opacity: 0;
    //         margin-left: 5px;
    //     }
    //     &:hover span {
    //         opacity: 1;
    //     }
    //     &-flag-checkered {
    //         left: auto !important;
    //         right: 0 !important;
    //         top: 0;
    //     }
    // }

}

.item-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.timeline {
    height: 1.5em;
    background-color: $brand-primary-rgba;
    position: relative;
    // border-radius: 15px;

    li{
        list-style: none;
        height:1em;
    }
}

.personal-timeline {
    padding-bottom: 3rem;
}

.timeline-filled {
    // border-radius: 10px;
    max-width: 100% !important;
    height: 1em;
    width: 0;
    position: absolute;
    left: 0;
    top: 0.25em;
    background-color: $brand-primary;
    transition: 0.4s;
    border: 1px solid $transparent;
    cursor: pointer;

    &:hover {
        transition: 0.05s;
        border-color: rgba(0,0,0,0.5);

    }
    &:active {
        transition: 0.4s;
        border: 3px solid rgba(0,0,0,0.5);
        background-color: $brand-quaternary-dark;
    }

        &-project {
            height:1.5em;
            top:0;
        }
        &-fase {
            background-color: $brand-quaternary !important;
            &:active {
                background-color: black !important;
            }
            // &:hover {
            //     background-color: $brand-quaternary-dark !important;
            // }
        }
        &-school {
            background-color: rgba(0,0,0,0.75) !important;
            // &:hover {
            //     background-color: $brand-primary-transparent;
            // }
        }

}

.personal-projects-wrap {
    overflow: visible;
    position: relative;
}

.personal-projects {
    // overflow: hidden;
    // margin-top: 2em;
    position: relative;
    padding: 2em 0;
    margin-top: 4rem;

    .personal-timeline {
            height: 1.5em;
            margin: 0 0 1em 0;
            background: transparent;
            padding-bottom: 1em;

        li {
            height:0;
            list-style: none;
        }

        .timeline-filled {
            // top: 0.25em;
        }

    }
}

.personal-project-item {
    width: 100%;
    float: left;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    &:nth-child(odd) {
        background-color: rgba(0,0,0,0.03);
    }
    .timeline-filled {
        height: 1em;
        background-color: rgba(0,0,0,0.2);
        &-fase {
            background-color: $brand-primary !important;
        }
    }
    .item-link {
        margin: 0;
        display: inline-block;
        position: relative;
    }
    &:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.title-timeline {
    margin-top: 1em !important;
    margin-left: 1em;
    text-align: left !important;
}

.project-timeline {
        margin: 0;
        padding: 0 0 1em 0;
        position: relative;
        width: 100%;
        float: left;
        border-bottom: 1px solid rgba(0,0,0,0.05);

        li {
            height: 1em;
            list-style-type: none;
            position: relative;
            width: 100%;
            // overflow: hidden;
            margin-top: 0.5em;

            .timeline-filled {
                top: 0;
            }
        }
}

.item-img-timeline {
    width: 50px !important;
    margin:0;
    position: absolute;
    left: -75px;
    top: 1em;
}

.week {
    position: absolute;
    top: 0;
    font-size: 0.6em;
    span {
        margin-left:0.5em;
    }
    &:after {
        content: '';
        background-color: rgba(0, 0, 0, 0.05);
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 2.5em;
    }
}

.now {
    border-right: 1px solid $brand-primary;
    background: -webkit-linear-gradient(left, rgba(255,0,0,0), rgba(55,172,101,0.05)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,0,0,0), rgba(55,172,101,0.05)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,0,0,0), rgba(55,172,101,0.05)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(55,172,101,0.05)); /* Standard syntax (must be last) */
    opacity: 1;
    height: 80%;
    position: absolute;
    overflow: visible;
    top: 20%;
}

.details {
    display: none;
    background: white;
    position: absolute;
    bottom:1em;
    padding: 0.5em 1em;
    border: 1px solid rgba(0,0,0,0.1);
    line-height: 1.5em;
    span {
        font-family: $font-family-secondary;
        font-style: italic;
    }
    &-description{
        display: none;
        background: white;
        position: absolute;
        top:1.5em;
        padding: 0.5em 1em;
        border: 1px solid rgba(0,0,0,0.1);

        &:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            background: white;
            top: -5px;
            border-left: 1px solid rgba(0,0,0,0.1);
            border-top: 1px solid rgba(0,0,0,0.1);
            left: 2px;
            transform: rotate(45deg);
            font-family: $font-family-primary;
            letter-spacing: 2em;
        }
    }

    &:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background: white;
        bottom: -5px;
        border-right: 1px solid rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(0,0,0,0.1);
        left: 2px;
        transform: rotate(45deg);
        font-family: $font-family-primary;
        letter-spacing: 2em;
    }
    &-project {
        background-color: $brand-primary;
        color: white;
        &:after {
            background-color: $brand-primary;
        }
    }
    &-fase {
        background-color: $brand-quaternary;
        color: white;
        &:after {
            background-color: $brand-quaternary;
        }
    }
    &-school {
        background-color: $brand-quaternary;
        color: white;
        &:after {
            background-color: $brand-quaternary;
        }
    }

}

.project-date {
    position: absolute;
    font-size: 0.8em;
    top: -3em;
    margin-left: 1em;
    &:after {
        content: '';
        width:1px;
        height: 2em;
        background-color: rgba(0,0,0,0.1);
        position: absolute;
        left: -1em;
        top: 0;
    }
    &-end {
        right: 1em;
        &:after {
            left: auto;
            right: -1em;
        }
    }
}
