
.icon-award:before { content: '\e800'; } /* '' */
.icon-brush:before { content: '\e801'; } /* '' */
.icon-graduation-cap:before { content: '\e802'; } /* '' */
.icon-check:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-tools:before { content: '\e805'; } /* '' */
.icon-brush-1:before { content: '\e806'; } /* '' */
.icon-brush-alt:before { content: '\e807'; } /* '' */
.icon-ok:before { content: '\e808'; } /* '' */
.icon-cancel-1:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-lightbulb:before { content: '\e80b'; } /* '' */
.icon-lamp:before { content: '\e80c'; } /* '' */
.icon-quote-left:before { content: '\e80d'; } /* '' */
.icon-list-bullet:before { content: '\e80e'; } /* '' */
.icon-chart-line:before { content: '\e80f'; } /* '' */
.icon-chart-line-1:before { content: '\e810'; } /* '' */
.icon-award-empty:before { content: '\e811'; } /* '' */
.icon-award-1:before { content: '\e812'; } /* '' */
.icon-target:before { content: '\e813'; } /* '' */
.icon-target-1:before { content: '\e814'; } /* '' */